.nav-title {
    position: relative;
    display: flex;
    padding-left: 102px;
    column-gap: 122px;
    align-items: center;
    justify-content: space-between;
    height: 330px;
    background-color: #47B14B;
    color: white;
    font-size: 64px;
    z-index: -1;
}

.nav-title img {
    position: relative;
    right: 2px;
    bottom: -80px;
    z-index: 0;
}



.content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    position: relative;
    background-color: white;
    z-index: 0;
    min-height: 515px;
}

.content .img-background img {
    position: absolute;
    width: 100%;
    height: 432px;
    bottom: 0;
    z-index: -1;
}


.content .content-fill{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

/* .content > .desc {
    display: flex;
    flex-direction: column;
    margin: 32px 32px;
    row-gap: 32px;
    width: 70%;
} */

.content-fill > .desc{
    display: flex;
    flex-direction: column;
    margin: 32px 0px;
    row-gap: 32px;
    width: 75%;
}


.content .filter-container {
    width: 18%;
    margin: 32px 0px;
}

.content .filter-container .filter{
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border: 1px solid #0b6c38;
    border-radius: 8px;
}

.content .filter-container .filter input{
    padding: 8px;
    font-size: 16px;
    height: 30px;
    border-radius: 8px;
}


.button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #108A4A;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    align-self: flex-end;
}

.button:hover {
    background-color: #0b6c38;
}

.content input{
    width: 100%;
}

.search-bar{
    padding: 32px;
    display: flex;
    justify-content: center;

    border-bottom: 1px solid black;
    
}

.search-bar .btn-search{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 16px;
    padding: 8px 16px;
    background-color: #108A4A;
    color: white;
    border: none;
    cursor: pointer;
}

.search-bar .btn-search:hover{
    background-color: #0b6c38;
}

#searchBar {
    padding: 8px;
    font-size: 16px;
    width: 200px;
    height: 30px;
    width: 40%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
}
#searchBar:focus{
    outline: none;
}




/* card announcement */
.card-announc {
    display: flex;
    column-gap: 32px;
    background-color: white;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.img-announc img {
    width: 300px;
    height: 100%;
}

#announcements-container{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}
.card-content {
    padding: 8px 42px 8px 8px;
}

.card-content>.card-desc {
    display: flex;
    flex-direction: column;
    /* row-gap: px; */
    color: black;
}

.card-content>.card-desc .title {
    font-size: 32px;
}

.card-content>.card-desc .desc {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.60);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-date-view {
    display: flex;
    column-gap: 10px;
    margin-top: 54px;
    color: rgba(0, 0, 0, 0.60);
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination a {
    text-decoration: none;
}

.pagination a .box {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid #108A4A;
    color: black;
    box-sizing: border-box;

}

.pagination a:nth-child(1n+2) .box {
    border-left: none;
}

.pagination .box.active, .pagination .box:hover {
    background-color: #108A4A;
    color: white;
}


/* end Penngumman */

/* Detail Pengumuman */

.content-detail-announc {
    display: block;
    padding: 48px 64px;
}

.content-detail-announc .title{
    font-size: 32px;
}

.date-view {
    display: flex;
    column-gap: 10px;
    color: rgba(0, 0, 0, 0.60);
    margin-bottom: 16px;
}

.img-detail-announc{
    display: flex;
    justify-content: center;
    
}

.img-detail-announc img{
    min-width: 50%;
    max-width: 80%;
}

.desc-detail-announc{
    margin: 32px 24px;
    text-align: justify;
    font-size: 24px;
}

/* end Detail Pengumuman */

/* Gallery Video */
.line {
    background-color: #47B14B;
    width: 256px;
    height: 2px;
}

.card-gallery {
    display: flex;
    margin: 0px 107px;
    padding: 16px;
    justify-content: space-between;

}

.card-gallery .card-desc {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 520px;
    text-align: justify;
}

.card-gallery .card-desc h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
}

.card-gallery .card-desc p {
    font-size: 16px;
    font-weight: 400;
}

.card-gallery .card-video iframe {
    width: 500px;
    height: 324px
}
/* end Gallery video */